{
    "model_config": {
        "main_model": {
            "model_name": "",
            "provider_type": "",
            "api_key": "",
            "api_base_url": ""
        },
        "json_model": {
            "model_name": "",
            "provider_type": "",
            "api_key": "",
            "api_base_url": ""
        }
    },
    "tools_api_config": {
        "get_weather": {
            "api_key": ""
        }
    },
    "mcp_tools": {
        "mcpServers": {
            "tool_name": {
                "command": "",
                "args": [
                ]
            }
        }
    }
}
